/* Common Styles */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header area styles  */


/* Nav area styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo img{
    width: 85px;
    margin-right: 20px;
}
.logo a{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.logo a span{
    color: #FF42A5;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}
nav ul a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
nav ul .follow{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 25px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
nav ul .follow a{
    margin-left: 16px;
    font-size: 22px;
}
nav ul .follow a{
    margin-left: 16px;
    font-size: 22px;
}
nav ul .follow a .fa-youtube{
    color: #F61C0D;
}
nav ul .follow a .fa-tiktok{
    color: #000;
}

/* Banner area styles here  */

.banner{
    background: url('../images/background.png') no-repeat center left;
    background-size: contain;
}
.banner_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0;
}
.banner_content h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.gradient_title{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner_content li{
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 15px;
}
.primary_btn, .secondary_btn{
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border:0;
    margin: 20px 20px 0 0;
}
.banner_content .secondary_btn{
    background: #4EC5F7;
}

/* About area styles  */
.about{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.about_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
}
.about_img{
    width: 60%;
}
.about_content{
    width: 40%;
    text-align: right;
}
.about_content .gradient_title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.about_content p{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.about_content .primary_btn{
    margin-right: 0;
    margin-bottom: 30px;
}
.about_content h3{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
.about_content h3 strong{
    font-size: 32px;
    font-weight: 700;
}

/* Online Games Section styles  */

.online_game{
    margin-top: 120px;
    margin-bottom: 120px;
}
.online_game h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online_game h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
.online_game h2 .gradient_title{
    font-size: 48px;
    font-weight: 700;
}
.online_game > p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
}
.game_videos{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.game_videos p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
}
.game_videos .img{
    position: relative;
}
.game_videos .img:hover .icon a{
    visibility: visible;
    opacity: 1;
}
.game_videos .icon a{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    visibility: hidden;
    opacity: 0;
    transition:all 0.3s ease-in-out;
}
.game_videos .icon a .watch_now{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-size: 48px;
    color: #FFF;
    text-align: center;
}
.game_videos .icon a .watch_now span{
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;
    margin-top: 15px;
}
/* Instant play section */
.instant_play{
    display: flex;
    align-items: center;
    justify-content: center;
}
.play_content{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play_content .inner_content{
    max-width: 350px;
}
.play_content .inner_content h2{
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}
.play_content .inner_content h2 .gradient_title{
    font-size: 48px;
    text-transform: capitalize;
    line-height: 60px;
    text-align: right;
}
.play_content .inner_content p{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    line-height: 30px;
}
.instant_play .play_img{
    width: 45%;
}
.instant_play .play_img .img_2{
    position: relative;
    bottom: 250px;
    right: 25%;
    margin-bottom: -130px;
}

/* Game list area styles  */
.game_list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 100px;
}
.game_list ul li{
    width: 20%;
}
.game_list ul li a{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-right: 15px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
}
.game_list ul li a img{
    height: 50px;
    width: 50px;
}
.game_list ul li a:hover{
    color: #F948B2;
    border-color: #F948B2;
}

/* Footer area styles  */
footer{
    background: #0B0223;
    padding: 100px 0;
}
footer .logo{
    text-align: center;
    margin-bottom: 60px;
}
footer .logo> a{
    color: #FFF;
}
.footer_nav ul, .social_area ul, .privacy_area ul{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    list-style: none;
}
.footer_nav ul, .social_area ul{
    margin-bottom: 50px;
}
.footer_nav ul a{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.social_area ul a{
    font-size: 35px;
    color: #FFF;
}
.privacy_area ul a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.copyright_area{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}







/* Mobile responsive styles */

@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        gap: 50px;
    }
    nav ul {
        gap: 20px;
        flex-direction: column;
    }
    .banner {
        background: none;
        margin: 0 25px;
    }
    .banner_container {
        flex-direction: column-reverse;
    }
    .banner_img{
        margin: 80px 0 20px;
    }
    .banner_content{
        padding: 50px 20px;
        background: url('../images/background.png') no-repeat center bottom;
        background-size: cover;
    }
    .primary_btn, .secondary_btn {
        padding: 20px 35px;
        margin: 20px 10px 0 0;
    }
    .about_container {
        flex-direction: column;
    }
    .about_img {
        width: 100%;
    }
    .about_content {
        width: 100%;
        text-align: center;
    }
    .about_content .gradient_title,.about_content p,.about_content h3 {
        text-align: center;
    }
    .game_videos {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 30px;
    }
    .game_videos .img img{
        width: 100%;
    }
    .game_videos p {
        text-align: center;
    }
    .instant_play {
        flex-direction: column;
    }
    .play_content {
        width: 100%;
        text-align: center;
    }
    .play_content .inner_content h2, .play_content .inner_content p  {
        text-align: center;
    }
    .instant_play .play_img {
        width: 80%;
        margin-right: -70px;
        margin-top: 30px;
    }
    .instant_play .play_img .img_2 {
        width: 60%;
        right: 15%;
        bottom: 150px;
    }
    .game_list ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .game_list ul li {
        width: 100%;
    }
    .footer_nav ul, .privacy_area ul{
        flex-wrap: wrap;
        width: 360px;
        margin: 0 auto;
    }
    .social_area ul{
        flex-wrap: wrap;
        width: 330px;
        margin: 50px auto;
        gap: 70px;
    }
}

/* Tablet responsive styles */
@media screen and (min-width:576px) and (max-width:960px) {
    nav {
        gap: 20px;
        flex-direction: column;
    }
    .banner {
        background: none;
        margin: 0 25px;
    }
    .banner_content{
        padding: 50px 20px;
        background: url('../images/background.png') no-repeat center bottom;
        background-size: cover;
    }
    .banner_container {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .banner_container .banner_img{
        width: 60%;
    }
    .about_container {
        flex-direction: column;
        padding: 0 50px;
    }
    .about_img {
        width: 100%;
    }
    .about_content {
        width: 100%;
        text-align: center;
    }
    .about_content .gradient_title,.about_content p,.about_content h3 {
        text-align: center;
    }
    .online_game {
        padding: 0 50px;
    }
    .game_videos {
        grid-template-columns: repeat(2, 1fr);
    }
    .game_videos .img img{
        width: 100%;
    }
    .game_videos p {
        text-align: center;
    }
    .instant_play {
        flex-direction: column;
        padding: 0 50px;
    }
    .play_content {
        width: 100%;
        text-align: center;
    }
    .play_content .inner_content h2, .play_content .inner_content p  {
        text-align: center;
    }
    .instant_play .play_img {
        width: 80%;
        margin-right: -70px;
        margin-top: 30px;
    }
    .instant_play .play_img .img_2 {
        width: 60%;
        right: 15%;
        bottom: 150px;
    }
    .game_list ul li {
        width: 33%;
    }
    .game_list ul li a img {
        height: 40px;
        width: 40px;
    }
    .game_list ul li a {
        justify-content: center;
        gap: 5px;
        font-size: 16px;
        padding: 5px;
        margin-right: 0px;
    }
    .footer_nav ul{
        margin-bottom: 30px;
    }
    .footer_nav ul, .privacy_area ul {
        flex-wrap: wrap;
        width: 400px;
        margin: 0 auto;
    }
}



